html, body {
    min-height: 100%;
}

body {
    background-color: #ACC0C1;
}

.container {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

@media (min-width: 450px) {
    .container {
        box-shadow: 1px 1px 20px #666;
    }
}

.level {
    position: relative;
    min-width: 320px;
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
}

.level_0 {
    background-image: url(../img/level_0_bg.jpg);
    height: 180px;
    position: relative;
}

.level_0:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../img/logo.png) no-repeat center 25px;
    background-size: contain;
    pointer-events: none;
}

.level_1 {
    background-image: url(../img/level_1_bg.png);
    height: 235px;
}

.level_2 {
    background-image: url(../img/level_2_bg.png);
    height: 235px;
}

.level_3 {
    background-image: url(../img/level_3_bg.png);
    height: 235px;
}

.level_4 {
    background-image: url(../img/level_4_bg.png);
    height: 75px;
}

.door {
    position: absolute;
    bottom: 0;
    background: url(../img/door.png) no-repeat top left;
    width: 64px;
    height: 100px;

    cursor: pointer;
}

.door_locked {
    background: url(../img/door_locked.png) no-repeat top left;
}

.door_disabled {
    opacity: .7;
}

.door_level_0 {
    right: 2%;
}

.door_level_1 {
    left: 2%;
}

.door_level_2 {
    right: 2%;
}

.box {
    position: absolute;
    left: 10%;
    bottom: 0;

    background: url('../img/box.png') no-repeat top left;
    width: 32px;
    height: 32px;

    cursor: pointer;
}

.popup {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    background-color: rgba(0,0,0,.3);
    transition: opacity .3s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.popup_hidden {
    pointer-events: none;
    opacity: 0;
}

.popup__content {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 400px;

    background: #000 url(../img/door_level_0.jpg) no-repeat center;
    background-size: cover;
}

.popup__close {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 24px;
    color: #fff;

    cursor: pointer;
}

.popup__content_level_0 {
    /* Можно поставить какую-нибудь свою картинку двери на бек */
}

.popup__content_level_1 {
    /* Можно поставить какую-нибудь свою картинку двери на бек */
}

.popup__content_level_2 {
    /* Можно поставить какую-нибудь свою картинку двери на бек */
}
.popup__content_level_3 {
    background-image: url(../img/door__box.png);
    background-size: contain;
}

.door-riddle {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.door-riddle__button {
    width: 64px;
    height: 64px;
    border-radius: 64px;
    background-color: #583319;
    border: 1px solid #F3E9E0;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .4);

    transition: background-color .3s;
}

.door-riddle__button_pressed {
    background-color: #F3E5D9;
}
.drop-zones {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.drop-zone {
    height: 70px;
    width: 70px;
    background-color: #583319;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .4);
}
.drop-zones_gear {
    height: 100%;
    width: 100%;
    position: relative;
}
.drop-zone_gear {
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .4);
    opacity: 0.98;
}
.drop-zone_gear_1 {
    left: 20%;
    top: 20%;
}
.drop-zone_gear_2 {
    left: 40%;
    top: 40%;
}
.drop-zone_gear_3 {
    left: 75%;
    top: 75%;
}
.gear-c {
    will-change: transfrom;
    position: absolute;
    right: 0;
    top: 20%;
}
.gear_gray {
    background: url("../img/gray.svg") center/cover;
}
.gear_purple {
    background: url("../img/purple.svg") center/cover;
}
.gear_yellow {
    background: url("../img/yellow.svg") center/cover;
}
.spin {
    animation: spin normal .8s infinite;
}
.lock_1 {
    position: absolute;
    width: 400px;
    height: 400px;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    background: #583319;
    border-radius: 50%;
    border-left: 4px dashed white;
}
.lock_2 {
    position: absolute;
    width: 300px;
    height: 300px;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    background: #be891a;
    border-radius: 50%;
    border-right: 4px solid white;
}
.lock_3 {
    position: absolute;
    width: 200px;
    height: 200px;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    background: #dfc429;
    border-radius: 50%;
    border-bottom: 4px solid white;
}
.hint {
    transition: bottom .2s;
    background: white;
    margin-top: 0;
    color: #ababab;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .4);
    position: absolute;
    padding: 10px 5px;
    bottom: 0;
}
.hint_1 {
    animation: hint .8s 7s ease forwards;
}
.hint_2 {
    animation: hint .8s 8s ease forwards;
}
.hint_3 {
    animation: hint .8s 8s ease forwards;
}
.blink {
    animation: a-blink .6s 1s ease forwards;
}
@keyframes hint {
    from {
        bottom: 0;
    }
    to {
        bottom: -200px;
    }
}
@keyframes a-blink {
    from {
        background: #ff8b0f;
    }
    to {
        background: #40e02e;
    }
}
@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(180deg);
    }
}